
body {
    background-image: url('https://img.besthqwallpapers.com/Uploads/12-5-2018/52207/new-york-night-rain-wet-road-street.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}

.bg-dark .navbar-nav .nav-item>a {
    color: white !important;
}

.card {
    margin-right: 25px;
}
